{{#each itemController='section'}}
  <button {{bind-attr disabled='allOn'}}{{action 'turnOn' rooms}}>{{name}} On</button>
  <button {{bind-attr disabled='allOff'}}{{action 'turnOff' rooms}}>{{name}} Off</button>
  </br>
{{/each}}
