{{!-- <ul class="matrix three-cols lighting-list">
      <li id="main" class="exterior">
        <a {{action 'toggle' 'main'}} class="on">Main</a>
      </li>
      <li id="sideyard" class="exterior">
        <a {{action 'toggle'}}>Sideyard</a>
      </li>
      <li id="backyard" class="exterior">
        <a {{action 'toggle' 'backyard'}}>Backyard</a>
      </li>
      <li id="guest-bath" class="interior bathroom">
        <a {{action 'toggle' 'backyard'}}>Guest Bath</a>
      </li>
      <li id="master-bath" class="interior bathroom">
        <a {{action 'toggle' 'backyard'}}>Master Bath</a>
      </li>
      <li id="master-bedroom" class="interior">
        <a {{action 'toggle' 'backyard'}}>Master Bedroom</a>
      </li>
    </ul> --}}

    <ul class="matrix three-cols lighting-list">
      {{#each itemController='light'}}
        <li>
          <a href="#" {{action 'toggle' this}} {{bind-attr class="isOn:on"}} >
            {{room}}
          </a>
        </li>
      {{/each}}
    </ul>

    <div class="actions">
      <p>
        <button {{action 'turnOn' 'all'}}>Turn All On</button>
        <button {{action 'turnOff' 'all'}}>Turn All Off</button>
      </p>
      <p>
        <button {{action 'turnOn' 'exteriors'}}>Turn All Exteriors On</button>
        <button {{action 'turnOff' 'exteriors'}}>Turn All Exteriors Off</button>
      </p>
      <p>
        <button {{action 'turnOn' 'interiors'}}>Turn All Interiors On</button>
        <button  {{action 'turnOff' 'interiors'}}>Turn All Interiors Off</button>
      </p>
      <p>
        <button {{action 'turnOn' 'bathrooms'}}>Turn All Bathroom Lights On</button>
        <button {{action 'turnOff' 'bathrooms'}}>Turn All Bathroom Lights Off</button>
      </p>
    </div>

    <ul class="summary">
      <li>
        <strong>{{lightsOn}}</strong> lights are on
      </li>
      <li>
        <strong>{{lightsOff}}</strong> lights are off
      </li>
    </ul>
